*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

body{
    background-color: rgb(104, 36, 168);
}

.main{
    background-color: rgb(181, 191, 201);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.box{
    background-color: rgb(212, 196, 217);
    height: 300px;
    width: 400px;
    padding: 50px; 
    display:flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 37.5%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(212, 196, 217);
}

.clock{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: -10px;
    background-color: rgb(126, 69, 179);
    border-radius: 20px;
}

.element{
    margin-left:30px;
    margin-top: 50px;
    font-size: 20px;
}

.btn{
    background-color: #1d5568; 
    border: none;
    outline: none;
    color: white;
    padding: 6px 4px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
}